$dark_blue: #232340;
$dark_purple: rgb(84,104,231);
$darker_gray: rgb(139,139,139);
$light_gray: rgb(173,173,173);
$body-light-mode: rgb(96,96,96);
$color_primary: #5468E7;
$body-dark-mode: #8B8B8B;
$dark:#232340;
$body-light-mode:#606060;
$shade: rgb(144,140,255);
$yellow_background: #FFCE79;

